body{
    background-color:rgba(128, 255, 0, 0.658);
    background-image: url(../img/ab.webp)
    background-repeat: no-repeat;
    background-
}
.titulo{
    color:rgba(0, 0, 255, 0.733);
    texte-align: center;
}